body {
 background-color:#0B0B0B;
 font-family: 'Roboto', sans-serif;
 font-weight:bold;
}

h1 {
   font-family: 'Roboto', sans-serif;
   color: white
}

.bio-text {
  color:white;
  text-decoration: none;
}

.contact-text {
  color:white;
  text-decoration: none;
}

.image {
    height: 672px; 
    width: 508px;
}

.book-wrapper {
    display:inline-block;
    border: solid pink 0px;
    margin-left: 20%;
    vertical-align: top;
    

}

.left{
    height:672px;
    width:508px;
    background:white;
    display:inline-block;

}

.right {
    height:672px;
    width:508px;
    background:white;
    display:inline-block;

}

.table-of-contents {
    color: black;
    position: relative;
    top:450px;
    left: 20px;
    font-size: 30px;
    text-decoration-color: none;
}
ul {
  list-style-position: relative;
    list-style-type: none;
}

a{
    color: inherit;
}
.img {
    height: 84px; 
    width: 63.5px;
}
.design-content {
    color: white;
    position: relative;
    top:650px;
    left: 20px;
    font-size: 15px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

}

